---
layout: main
---


    <section class="border">
      <div class="wrapper gutter my-padding text-center fade-in one">
        <p class="home-intro giga purple push-1-2">Hey, I'm Mel!</p>
        <h1 class="push black">I'm a creative specializing in graphic design & illustration. I <span class="purple bold italics">love</span> finding creative solutions and just generally making things look good.</h1>
        <p class="termina uppercase letterspacing micro push-0">I also love musicals, LEGO and crafts but that's for another website.</p>
    </div>
    </section>
    

    <section class="border">
      <div class="wrapper gutter text-center pad-t-2 pad-b-2 fade-in one">
        <h2 class="home-bio black push-0 tera">After the 9 to 5, you’ll probably find me creating <a href="https://melsprintshopco.etsy.com" class="intro-link purple underline light">printable games</a>, designing <a href="https://melsdesignshop.com/" class="intro-link purple underline light">stationery</a> or drawing the occasional <a href="https://nickandmelcomics.com/" class="intro-link purple underline light">comic</a>.</h2>
      </div>
    </section>

    <section class="border">
      <div class="wrapper my-padding gutter-2">
      <h2 class="fade-in one">Check out my work</h2>

      <div class="grid">

        {% for work in site.data.projects %}
          {% include project-banners.html data=work %}
        {% endfor %}

      </div>
        
      <div class="text-center fadein pad-t">
        <a class="micro enter-here-btn micro enter-here-btn " href="{{site.baseurl}}/work">CHECK OUT MORE WORK</a>
      </div>
     </div>
    </section>

    <section class="border fadein">
      <div class="my-padding">
        <div class="gutter-2 wrapper text-center pad-b-2">
          <h2 class="push-1-2">Illustration</h2>
          <div class="text-center fadein pad-t">
            <a class="micro enter-here-btn micro enter-here-btn uppercase" href="{{site.baseurl}}/play">I want to see more</a>
          </div>
        </div>
      <logo-slider>
        <div>
          <img src="{{site.baseurl}}/images/rolling/main-aerial.png">
          <img src="{{site.baseurl}}/images/rolling/main-florist.png">
          <img src="{{site.baseurl}}/images/rolling/main-venison.png">
          <img src="{{site.baseurl}}/images/rolling/main-house.png">
          <img src="{{site.baseurl}}/images/rolling/main-living-room.png">
          <img src="{{site.baseurl}}/images/rolling/main-balcony.png">
          <img src="{{site.baseurl}}/images/rolling/main-floating.png">
          <img src="{{site.baseurl}}/images/rolling/main-desk.png">
          <img src="{{site.baseurl}}/images/rolling/main-cashier.png">
          <img src="{{site.baseurl}}/images/rolling/main-call.png">
         </div>
        
        <div>
          <img src="{{site.baseurl}}/images/rolling/main-aerial.png">
          <img src="{{site.baseurl}}/images/rolling/main-florist.png">
          <img src="{{site.baseurl}}/images/rolling/main-venison.png">
          <img src="{{site.baseurl}}/images/rolling/main-house.png">
          <img src="{{site.baseurl}}/images/rolling/main-living-room.png">
          <img src="{{site.baseurl}}/images/rolling/main-balcony.png">
          <img src="{{site.baseurl}}/images/rolling/main-floating.png">
          <img src="{{site.baseurl}}/images/rolling/main-desk.png">
          <img src="{{site.baseurl}}/images/rolling/main-cashier.png">
          <img src="{{site.baseurl}}/images/rolling/main-call.png">
        </div>
         
      </logo-slider>

    </div>
    </section>

  