---
layout: main
title: Mélany Pelletier-Vaillant · uOttawa Recruitment
meta: Branding package for QULT.
---

    <section class="border">
      <div class="wrapper gutter my-padding text-center fade-in one">
        <h1 class="push-1-2 black"><span class="purple bold italics">Explore</span> my recent work.</h1>
        <h2 class="push-0 tera">Designs from my 9-5, freelance ventures,<br> and creative side projects.</h2>
    </div>
    </section>

    <section class="border">
    <div class="wrapper my-padding gutter-2">
    <h2 class="fadein">Check out my work</h2>

    <div class="grid">

        {% for work in site.data.projects %}
        {% include work-grid.html data=work %}
      {% endfor %}

        <div class="gutter-1-2 images pad-t home-project-image unit xs-1 s-1 m-1-2 l-1-4 fadein">
            <a class="image" href="recruitment.html">
                <img class="img-flex push" src="images/recruitment-small-main-image.png" alt="">
                <img class="img-flex push first" src="images/recruitment-small-main-image-2.png" alt="">
                <h3 class="push-0 black mega">Open Minds.</h3>
                <p class="milli pad-b-1-2 border-btm">uOttawa Recruitment Campaign</p>
            </a>
        </div>

        <div class="gutter-1-2 images pad-t home-project-image unit xs-1 s-1 m-1-2 l-1-4 fadein">
            <a class="image" href="recruitment.html">
                <img class="img-flex push" src="images/bces-small-main-image.png" alt="">
                <img class="img-flex push first" src="images/bces-small-main-image-2.png" alt="">
                <h3 class="push-0 black mega">BCES Global</h3>
                <p class="milli pad-b-1-2 border-btm">uOttawa Recruitment Campaign</p>
            </a>
        </div>

        <div class="gutter-1-2 images pad-t home-project-image unit xs-1 s-1 m-1-2 l-1-4 fadein">
            <a class="image" href="">
            <img class="img-flex push" src="images/softball-small-main-image.png" alt="">
            <img class="img-flex push first" src="images/softball-small-main-image-2.png" alt="">
            <h3 class="push-0 black mega">Orléans Softball</h3>
            <p class="milli pad-b-1-2 border-btm">uOttawa Recruitment Campaign</p>
            </a>
        </div>

        <div class="gutter-1-2 images pad-t home-project-image unit xs-1 s-1 m-1-2 l-1-4 fadein">
            <a class="image" href="">
            <img class="img-flex push" src="images/gee-gees-small-main-image.png" alt="">
            <img class="img-flex push first" src="images/gee-gees-small-main-image-2.png" alt="">
            <h3 class="push-0 black mega">Ottawa Gee-Gees</h3>
            <p class="milli pad-b-1-2 border-btm">uOttawa Recruitment Campaign</p>
            </a>
        </div>

        <div class="gutter-1-2 images pad-t home-project-image unit xs-1 s-1 m-1-2 l-1-4 fadein">
            <a class="image" href="">
            <img class="img-flex push" src="images/map-small-main-image.png" alt="">
            <img class="img-flex push first" src="images/map-small-main-image-2.png" alt="">
            <h3 class="push-0 black mega">Campus Map</h3>
            <p class="milli pad-b-1-2 border-btm">uOttawa Recruitment Campaign</p>
            </a>
        </div>

       </div>
    </section> 