---
layout: main
title: Mélany Pelletier · Work
meta: Graphic design projects.
---

    <section class="border">
      <div class="wrapper gutter my-padding text-center fade-in one">
        <h1 class="push-1-2 black"><span class="purple bold italics">Explore</span> my recent work.</h1>
        <h2 class="push-0 tera">Designs from my 9-5, freelance ventures,<br> and creative side projects.</h2>
    </div>
    </section>

    <section class="border">
    <div class="wrapper my-padding gutter-2">
    <h2 class="fadein">Check out my work</h2>

    <div class="grid">

        {% for work in site.data.projects %}
        {% include work-grid.html data=work %}
      {% endfor %}

       </div>
    </section> 