<div class="gutter-1-2 images home-project-image unit xs-1 s-1 {{include.data.gridClass}} fadein">
  <a class="image" href="{{site.baseurl}}{{include.data.projectLink}}">
    <img class="img-flex push" src="{{site.baseurl}}/images/{{include.data.projectMainImageOne}}" alt="">
    <img class="img-flex push first" src="{{site.baseurl}}/images/{{include.data.projectMainImageTwo}}" alt="">
    <h3 class="push-0 black mega">{{include.data.projectTitle}}</h3>
    <p class="milli pad-b-1-2 border-btm">{{include.data.projectShortDescription}}</p>
 </a>
</div>