<div class="gutter-1-2 images pad-t home-project-image unit xs-1 s-1 m-1-2 l-1-4 fadein">
  <a class="image" href="{{site.baseurl}}{{include.data.projectLink}}">
      <img class="img-flex push" src="{{site.baseurl}}/images/{{include.data.projectWorkImageOne}}" alt="">
      <img class="img-flex push first" src="{{site.baseurl}}/images/{{include.data.projectWorkImageTwo}}" alt="">
      <h3 class="push-0 black mega">Open Minds.</h3>
      <p class="milli pad-b-1-2 border-btm">uOttawa Recruitment Campaign</p>
  </a>
</div>